body {
  background-color: #00C9BF;
	font-family: 'Quicksand', sans-serif;
}
.container {
  margin: 0 auto;
	width: 90%;
}

header {
	background-color: black;
	border-radius: 10px;
	position: fixed;
	width: 98.7%;
	/*border: solid;
  border-radius: 10px;
  border-width: thin;
  border-color: black;*/
}
header::after {
  clear: both;
	content: '';
	display: table;
}
.logo {
	float: left;
	height: 75px;
	padding: 0;
  position: relative;
	width: 170px;
}
nav {
	float: right;
}
nav ul {
  list-style: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
	margin-left: 100px;
	padding-top: 29px;
	position: relative;
}
nav a {
	color: white;
	font-size: 17px;
  text-decoration: none;
	text-transform: uppercase;
}
nav a:hover {
	color: #00C9BF;
}
nav a::before {
	background-color: #00C9BF;
	content: '';
	display: block;
	height: 5px;
	position: absolute;
	top: 0;
	transition: all ease-in-out 250ms;
	width: 0;
}
nav a:hover::before {
	width: 100%;
}
.top {
	text-align: center;
}
iframe {
	padding-top: 100px;
}
