@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-image: url("./images/background-blur.jpg");
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}

.container {
  margin: auto;
  width: 90%;
  height: 100%;
}

header {
  background-color: #0BC4B9;
  border-radius: 1vw;
  position: center;
  width: 100%;

  /*
  border: solid;
  border-radius: 10px;
  border-width: thin;
  border-color: black;
  */
}

header::after {
  clear: both;
  content: '';
  display: table;
}

.logo {
  float: left;
  position: relative;
  height: 5.5vw;
  bottom: 0;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-grid;
  margin-left: 3vw;
  padding-top: 2vw;
  padding-bottom: 0.5vw;
  position: relative;
}

nav a {
  color: black;
  font-size: 1.3vw;
  vertical-align: bottom;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
}

nav a::before {
  background-color: white;
  content: '';
  display: block;
  height: 0.5vw;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
  width: 0;
}

nav a:hover::before {
  width: 100%;
}

.top {
  text-align: center;
}

.top-text {
  text-align: center;

  /*
  background-color: ;
  */
  background-size: auto 100%;
}

.video {
  padding-top: 3vw;
  align-self: center;
}

.image {
  padding-top: 3vw;
}
