.calendar {
    text-align: center;
    padding-top: 5%;
}

.calendar-container {
    text-align: left;
    .card {
        margin: 0;
    }
    h4 {
        text-align: center;
    }
    .day-box {
        padding: 8px;

        .date-label {
            text-align: right;
            margin-bottom: 0; 
            color: red;
            padding: 0;
        }
        .day-label {
            text-align: left;
            margin-bottom: 0;
            color: green;
            padding: 0;
        }
        .card-header {
            padding: 3px;
        }
    }
    #sun {

    }
    #mon {

    }
    #tue {

    }
    #wed {

    }
    #thu {

    }
    #fri {

    }
    #sat {
        
    }
}