.calendar {
    text-align: center;
    padding-top: 5%;
}

.calendar-container {
    text-align: left;
    .card {
        margin: 0;
    }
    h4 {
        text-align: center;
    }
    #week {
        .day-box {
            padding: 3px;
            .date-label {
                color: red;
                padding: 0;
                float: right;
                display: inline-block;
            }
            .day-label {
                color: green;
                padding: 0;
                display: inline-block;
            }
            .card-header {
                padding: 3px;
            }
        }
        #sun {}
        #mon {}
        #tue {}
        #wed {}
        #thu {}
        #fri {}
        #sat {}
    }
}

@media screen and (max-width: 1000px) {
    .day-box {
        width: 100% !important; //I know it's bad practice to use this but this media query needs to override everything else
    }
}