h1 {
    text-align: center;
    margin-top: 0;
    color: white;
    padding: 1rem;
}

h3 {
    color: white;
    text-align: center;
}

button {
    color: white;
}

img {
    text-align: center;
}

