.card {
    margin: 8px 0px 8px;
    img.powerup {
        padding: 1rem;
    }
}

@media screen and (max-width: 992px) { 
    //padding now works for every width except 992 pixels
    .card-side-column {
        display: none;
    }
}