.jumbotron {
    background-color: #666;
    margin: 0;
    .container {
        margin: auto;
        text-align: center;
        color: #ededed;
        button.btn-rounded{
            border-radius: 50px;
            a {
                color: white;
                &:hover {
                    color: black;
                }
            }
        }

    }
}